@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=DM+Serif+Text:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');

body {
    width: 100%;
    height: 1380px;
    background-image: linear-gradient(135deg, rgba(31, 43, 95, 0.74) 0%, rgba(179, 61, 157, 1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 90%;
    height: 750px;
    background-color: rgb(239, 222, 222);
    align-items: center;
    border-radius: 30px;
    margin: 50px;
    margin-bottom: 200px;
}

div {
    width: 40%;
    height: 750px;
    float: left;
    margin-right: 60px;
    border-radius: 30px;
    background-image: url(BG.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    text-align: left;
    padding: 20px;
    font-family: kanit;
    font-weight: 300;
    font-size: 10px;
}

legend {
    font-size: 18px;
    font-weight: 400;
}

p {
    padding: 15px;
    color: white;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-size: 90px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: azure;
    margin-bottom: 100px;
    animation: type 1s steps(60, end);
    white-space: nowrap;
    overflow: hidden;
    width: 100vw;
}

h1:nth-child(1) {
    animation: type2 3s steps(60, end);
}

h1:nth-child(2) {
    animation: type2 6s steps(60, end);
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    50% {
        width: 0;
    }

    100% {
        width: 100;
    }
}

label {
    font-size: 14px;
}

footer {
    width: 100%;
    height: 60px;
    font-family: "DM Serif Text", serif;
    background-image: url(cute.GIF);
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding-top: 40px;
    margin-left: -10px;
    color: white;
}

#bg {
    width: 100%;
    height: 750px;
    border-radius: 30px;
}

.topic {
    font-family: "DM Serif Text", serif;
    color: rgb(76, 56, 81);
    font-weight: 500;
    font-size: 40px;
}